.carousel-outer {
  .carousel .slide {
    background: none;
  }

}

.carousel .carousel-slider {
  max-width: 100%;
  max-height: 100%;
}

.carousel-style {
  height: auto;
  width: auto;
}

.easy-fast {
  font-size: 20px;
  font-weight: 400;
}


.go-abroad {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 61px 0;
}

.learn-eng {
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 34px 0 6px;
}